.secciongrid{
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 100px;
    gap: 10px;
    justify-content: center;
   
}



.cajaRoja{
    background-color:violet;
    height: 250px;
    width: 300px;
    border-radius: 10px;
}


